<mat-card class="row">
  <mat-form-field class="col-12" appearance="outline" style="width: 100%;">
    <mat-label>Search</mat-label>
    <input matInput placeholder="Search..." #searchText (keyup)="onKeyUp(searchText.value)"
           [disabled]="loadingDevices || githubService.error">
    <mat-icon matSuffix *ngIf="loading">
      <mat-spinner [diameter]="25"></mat-spinner>
    </mat-icon>
  </mat-form-field>
  <mat-checkbox class="col-6" *ngFor="let branch of branches" [value]="branch.value" [(ngModel)]="branch.checked">
    {{branch.display}}
  </mat-checkbox>
  <button class="col-12" style="margin-top: 20px;" mat-stroked-button color="primary"
          (click)="onKeyUp(searchText.value)" [disabled]="loadingDevices || githubService.error">
    <mat-icon *ngIf="!loadingDevices && !githubService.error">search</mat-icon>
    <mat-icon *ngIf="loadingDevices">
      <mat-spinner [diameter]="20"></mat-spinner>
    </mat-icon>
    <mat-icon *ngIf="githubService.error">warning</mat-icon>
    {{loadingDevices ? 'Loading devices...' : githubService.error ? 'Error' : 'Search'}}
  </button>
</mat-card>

<ng-template #placeholderTemplate>
  <mat-card class="row" style="margin-top: 20px;text-align: center;" *ngIf="searchText.value.length > 0 && !loading">
    <p>Couldn't find {{searchText.value}}</p>
  </mat-card>
</ng-template>

<mat-card class="row" style="margin-top: 20px;"
          *ngIf="filteredDevices && filteredDevices.length > 0; else placeholderTemplate">
  <mat-card-header>
    <mat-card-title>Search results:</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion>
      <ng-template ngFor let-device [ngForOf]="filteredDevices | orderBy:'-publishedAt'">
        <mat-expansion-panel>
          <mat-expansion-panel-header style="white-space: nowrap;">
            <div class="col-sm-5 col-md-4" style="text-align: left;">
              <h3>{{device.name}}</h3>
            </div>
            <div class="d-none d-md-block col-md-4" style="text-align: right;">
              <h5>{{device.publishedAt | date:'medium'}}</h5>
            </div>
            <div class="col-sm-5 col-md-3" style="text-align: center;">
              <h3 style="cursor: pointer;"><a [href]="device.htmlUrl" target="_blank">View on Github</a></h3>
            </div>
          </mat-expansion-panel-header>

          <mat-action-list>
            <a mat-list-item *ngFor="let asset of device.assets | orderBy:'-updatedAt'; let i = index"
               [href]="asset.browserDownloadUrl" target="_blank"
               [matTooltip]="'Downloaded ' + asset.downloadCount + ' time(s).'" [matTooltipPosition]="'above'">
              <p matLine>{{asset.name}} <span style="float:right;" class="badge d-none d-md-block">{{formatBytes(asset.size)}}</span><span
                style="float: right;" class="badge badge-success d-none d-md-block" *ngIf="i === 0">Latest</span></p>
            </a>
          </mat-action-list>
        </mat-expansion-panel>
      </ng-template>
    </mat-accordion>
  </mat-card-content>
</mat-card>
