<div class="ui middle aligned center aligned grid" style="height: 100%;">
	<div class="sixteen wide table eight wide computer column">
		<h2 class="ui inverted image header">
			<i class="circular users image icon"></i>
            <div class="content">
                MIUI Vendor Updater
            </div>
        </h2>
        <div class="ui large form">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input" [class.loading]="loading">
                        <input type="text" placeholder="Search..." #searchText (keyup)="onKeyUp(searchText.value)"/>
                        <i class="search icon"></i>
                    </div>
                </div>
                <div class="ui form">
                    <div class="inline fields">
                        <label>Filter:</label>
                        <div class="field">
                            <div class="ui checkbox" *ngFor="let branch of branches" (click)="updateCheckboxes()">
                                <input type="checkbox" tabindex="0" class="hidden" [value]="branch.value"
                                       [(ngModel)]="branch.checked"/>
                                <label>{{branch.display}}</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui fluid large teal submit button" (click)="onKeyUp(searchText.value)">Search</div>
            </div>

            <ng-template #placeholderTemplate>
                <div *ngIf="searchText.value.length > 0 && !loading" class="ui negative message">
                    <i class="close icon"></i>
                    <div class="header">
                        We're sorry!
                    </div>
                    <p>Couldn't find {{searchText.value}}</p>
                </div>
            </ng-template>

            <div class="ui stacked segment" *ngIf="filteredDevices && filteredDevices.length > 0; else placeholderTemplate">
                <h3 class="ui header">
                    Search results:
                </h3>
                <table class="ui celled striped unstackable table">
                    <tbody class="ui styled accordion">
                    <ng-template ngFor let-device [ngForOf]="filteredDevices | orderBy:'-published_at'">
                        <tr class="title">
                            <td class="collapsing">
                                <i class="folder icon"></i> {{device.name}}
                            </td>
                            <td>{{device.published_at | date:'medium'}}</td>
                            <td><a [href]="device.html_url" target="_blank">View on
                                Github</a></td>
                        </tr>
                        <tr class="content">
                            <td colspan="3" style="padding: 0 0 0 5px;">
                                <div class="ui divided selection list">
                                    <a class="item content truncate" *ngFor="let asset of device.assets | orderBy:'-updated_at'; let i = index"  [href]="asset.browser_download_url" target="_blank">
                                      <div *ngIf="i === 0" class="ui green horizontal label">Latest</div>
                                      {{asset.name}}
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    </tbody>
                </table>
            </div>
            <div class="ui error message"></div>
        </div>

        <div class="ui message">
            New to us? <a href="https://t.me/MIUIVendorUpdater">Follow on Telegram!</a>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
