tr.active, .ui.ui.table td.active {
  background: transparent !important;
}

.styled.accordion .content {
  padding: 0.5em 0.5em 0.5em !important;
}

.ui.styled.accordion .title, .ui.styled.accordion .accordion .title {
  color: rgba(0, 0, 0, 0.87) !important;
}

.item i {
  color: rgba(0, 0, 0, 0.87) !important;
}

.list .item {
  color: rgba(0, 0, 0, 0.87) !important;
}

.truncate {
  min-width: 410px;
  overflow:hidden;
  display:inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}
