<div class="container" style="height: 100%;">
  <div class="row justify-content-center align-items-center" style="height: 100%;">

    <div class="col-12">
      <h1 style="text-align: center;color: white;">
        <mat-icon>supervised_user_circle</mat-icon>
        MIUI Vendor Updater
      </h1>
      <router-outlet></router-outlet>

      <mat-card class="row" style="text-align: center;margin-top: 50px;">
        New to us? <a href="https://t.me/MIUIVendorUpdater">Follow on Telegram!</a>
      </mat-card>
    </div>
  </div>
</div>
