<div class="ui middle aligned center aligned grid" style="height: 100%;">
	<div class="sixteen wide table eight wide computer column">
		<h2 class="ui inverted image header">
			<i class="circular users image icon"></i>
            <div class="content">
                MIUI Vendor Updater
            </div>
        </h2>

        <router-outlet></router-outlet>

        <div class="ui message">
            New to us? <a href="https://t.me/MIUIVendorUpdater">Follow on Telegram!</a>
        </div>
    </div>
</div>
